<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <title>IamNeo AI Talent Center</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script>
    document.getElementById("body").style.color = "blue";
  </script>
</html>
